* {
    font-family: 'Itim', cursive;
}

body {
    text-align: center;
    background-color: #12181B;
}

.quadrado {
    text-align: center;
    width: 50px;
    height: auto;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 1px;
    border: 1px solid white;
    cursor: pointer;
    color: #12181B;
}

.quadrado:hover {
    border: 1px solid yellowgreen;
}

h1, .jogador, .vencedor {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: yellowgreen;
    cursor: pointer;
    border-radius: 10%;

}

.playerX {
    color: orangered;
}

.playerO {
    color: greenyellow;
}